*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.containner{
    background: #fea306;
    width: 100%;
    height: 100vh;
    position: relative;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header img{
    width: 50%;
    height: 50%;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
header ul li{
    margin-left: 40px;
}
header ul li a{

    text-decoration: none;
    color: white;
}
header ul li a:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    margin: auto;
    padding:100px;
}
.text h2{
    font-size:40px;
    color: white;
    margin:10px 10px 20px;
}
.text p{
    width:40%;
    color: white;
    margin:10px 10px 20px;
    font-size: 15px;

}
.text a{
    text-decoration: none;
    color: white;
    margin:10px 10px 20px;
}
.text a:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.image img{
    width: 180px;
}
.icons img{
    width: 40px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}
.icons img:hover{
    transform: scale(1.5);
    transition: .5s;
}
